
body{
    background-color: black;
}
:root {
   
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.hero{
    background-image: url('/img/red.png');
        background-size: cover;
    text-align: center;
    padding: 55px;
}
.hero p{
    color: rgb(255, 255, 255);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.hero h1{
    color: rgb(241, 240, 243);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 55px;
    font-weight: normal;
}
.hero h2{
    color: rgb(255, 255, 255);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 33px;
    font-weight: normal;
}
.first{
    background: #ff63d8;
        border-radius: 8px;
        color: azure;
        padding: 12px 20px;
        box-shadow: var(--box-shadow);
    
}
 .navbar-nav .nav-link {
     color: white !important;
    font-family: 'Red Hat Display', sans-serif;
 }
 .navbar-brand{
    color: white !important;
    font-family: 'Red Hat Display', sans-serif;
 }
 .second{
    text-align: center;
    color: aliceblue;
    font-family:'Red Hat Display',
        sans-serif;
 }
 .name{
    color: #ff63d8;
 }
 .bottom{
    margin-top: 388px;
   
 }
 .graph{
    color: #ff63d8;
    position: relative;
    top: -288px;
    font-size: medium;
 }
 .graphs{
    color: aliceblue;
    font-family: 'Red Hat Display', sans-serif;

 }
 .btn{
    color: rgb(255, 255, 255);
    background-color: #ff63d8;
    border-radius: 20px;
    border: #ff63d8;
    padding: 22px;
   margin-bottom: 333px;
   
   
 }
 .btn:hover{
    color: rgb(202, 0, 248);
    background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
 }
 .nav-item .nav-link{
    color: #ff63d8a2;
 }
 .fa-brands{
    color: rgb(174, 0, 255);
 }
 

