
.hero{
    background-color: aqua;
    text-align: center;
    padding: 55px;
}
.hero p{
    color: blue;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.hero h1{
    color: blueviolet;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 55px;
    font-weight: normal;
}
.hero h2{
    color: rgb(9, 202, 131);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 33px;
    font-weight: normal;
}
.first{
    background: #6C63FF;
        border-radius: 8px;
        color: azure;
        padding: 12px 20px;
    
}
 .navbar-nav .nav-link {
     color: white !important;
    font-family: 'Red Hat Display', sans-serif;
 }
 .navbar-brand{
    color: white !important;
    font-family: 'Red Hat Display', sans-serif;
 }

